{% extends 'base.html.twig' %}

{% block title %}Squash Connection - My Matches{% endblock %}

{% block body_id 'my_matches_list' %}

{% block header %}
	{% include 'user/_header_user_homepage.html.twig' %}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">												
									<u><h1>Matches</h1></u>
									{% set counter = 0 %}
									{% for match in matches %}
										{% if match.status != 'Played' %}
											{% set counter = counter + 1 %}
										{% endif %}
									{% endfor %}
									{% if matches is not empty and counter != 0%}
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Player 1</th>
												<th>Player 2</th>
												<th>Club</th>
												<th>Date</th>
												<th>Time</th>
												<th>Comments</th>
												<th>Result</th>
											</tr>
										</thead>
									{% for match in matches %}
										{% if match.status != 'Played' %}										
											<tr id="{{ match.id }}">
												<td>{{ match.player1Name }} {{ match.player1lastName }}</td>
												<td>{{ match.player2Name }} {{ match.player2lastName }}</td>
												<td>{{ match.clubName }}</td>
												<td class="date">{{ match.date|date('l, jS F Y') }}</td>
												<td>{{ match.time|date('H:i') }}</td>
												<td>												
													<a href="#"> 
														Comments
														<span class="badge"></span>
													</a>
												</td>
												<td>
													<div class="row">
														<a id="won" href="#" class="btn btn-success result" role="button" onclick="checkDate({{ match.id }}, this.text)">WON</a>			
														<a id="lost" href="#" class="btn btn-danger result" role="button" onclick="checkDate({{ match.id }}, this.text)">LOST</a>
													</div>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
									</table>
									{% else %}
										<h6>You haven't challenged someone.</h6>
									{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" id="played-container">										
									<u><h1>Played Matches</h1></u>
									{% if playedMatches is not empty %}
									<table class="table table-striped table-bordered" id="played">
										<thead>
											<tr>
												<th>Player 1</th>
												<th>Player 2</th>
												<th>Club</th>
												<th>Date</th>
												<th>Time</th>
												<th>Comments</th>
												<th>Result</th>
											</tr>
										</thead>
									{% for match in playedMatches %}
									{# Setting up the class the row will have #}										
										{% if match.player1Id == app.user.id %}
											{% if match.resultPlayer1 == 'WON' %}
												{% set clase = 'success' %}
												{% set result = match.resultPlayer1 %}
											{% else %}
												{% set clase = 'danger' %}
												{% set result = match.resultPlayer1 %}
											{% endif %}
										{% elseif match.player2Id == app.user.id %}
											{% if match.resultPlayer2 == 'WON' %}
												{% set clase = 'success' %}
												{% set result = match.resultPlayer2 %}
											{% else %}
												{% set clase = 'danger' %}
												{% set result = match.resultPlayer2 %}
											{% endif %}
										{% endif %}		
										<tr class="{{ clase }}">
											<td>{{ match.player1Name }} {{ match.player1lastName }}</td>
											<td>{{ match.player2Name }} {{ match.player2lastName }}</td>
											<td>{{ match.clubName }}</td>
											<td>{{ match.date|date('l, jS F Y') }}</td>
											<td>{{ match.time|date('H:i') }}</td>
											<td>												
												<a href="#"> 
													Comments
													<span class="badge"></span>
												</a>
											</td>
											<td class="success">
												<strong>{{ result }}</strong>
											</td>
										</tr>
									{% endfor %}
									</table>
									{% else %}
										<h6 id="no-played">You haven't played any match yet.</h6>
									{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock body %}