<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<a class="navbar-brand" href="{{ path('homepage') }}">
						<img id="logo" src="{{ asset('images/logotipo.png') }}" class="hidden-xs">
						<img id="logo" src="{{ asset('images/logotipo-xs.png') }}" class="visible-xs">
					</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> 
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Language</li>
							<li class="divider"></li>
							<li><a href="{{ path('homepage') }}en"><span class="flag-icon flag-icon-gb"></span><span>{{ 'language.en'|trans }}</span></a></li>
							<li><a href="{{ path('homepage') }}es"><span class="flag-icon flag-icon-es"></span><span>{{ 'language.es'|trans }}</span></a></li>
							<li><a href="{{ path('homepage') }}nl"><span class="flag-icon flag-icon-nl"></span><span>{{ 'language.nl'|trans }}</span></a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{{ path('signup_player') }}">
							<span class="glyphicon glyphicon-user"</span>
							{{ 'player.subscription'|trans }}
						</a>
					</li>
					<li>
						<a href="{{ path('login_route') }}">
							<span class="glyphicon glyphicon-log-in"></span>
							{{ 'nav.login'|trans }}
						</a>
					</li>
				</ul>
				
			</div><!--/.navbar-collapse -->
		</div>
    </nav>
    </div>