{% extends 'base.html.twig' %}

{% block title %} Squash Connection - Homepage {% endblock %}

{% block body_id 'homepage'%}

{% block header %}
	{% include 'default/_header_homepage.html.twig' %}
{% endblock %}

{% block body %}
    <div class="jumbotron homepage_background">
      <div class="container">
        <h1>{{ 'welcome'|trans }}</h1>
        <p>{{ 'welcome.content'|trans }}</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ 'club.heading'|trans }}</h2>
          <p>{{ 'club.content'|trans }}</p>
          <p><a class="btn btn-primary" href="{{ path('signup_club') }}" role="button">{{ 'club.subscription'|trans }}</a></p>
        </div>
        <div class="col-md-6">
          <h2>{{ 'player.heading'|trans }}</h2>
          <p>{{ 'player.content'|trans }}</p>
          <p><a class="btn btn-primary" href="{{ path('signup_player') }}" role="button">{{ 'player.subscription'|trans }}</a></p>
       </div>
      </div>
	</div>
      <hr>
{% endblock %}

