{% extends 'base.html.twig' %}

{% block title %}Squash Connection - Player Challenge{% endblock %}

{% block body_id 'user_challenge' %}

{% block header %}
	{% include 'user/_header_user_homepage.html.twig' %}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12 col-md-offset-1">
									<div class="media">
									  <div class="media-left">									    
									      <img class="media-object" src="{{ asset('images/noprofile.gif') }}" alt="..." width="80" height="100">								    
									  </div>
									  <div class="media-body">
									  	<div class="row">
										    <div class="col-md-4">
												<p><strong>Name:</strong> {{ player.name }} {{ player.lastName }}. </p>
											</div>
											<div class="col-md-3">
												<p><strong>Gender:</strong> {{ player.gender.name }}.</p>
											</div>
											<div class="col-md-3">
												<strong>Level:</strong>{{ player.playingLevel|rating(player.playingLevel, 'fa-lg') }}
											</div>
										</div> 
										<div class="row">
											
												<div class="col-md-4">
													<p><strong>Favourite Club:</strong> {{ player.club }}.</p>
												</div>
												<div class="col-md-3">
													<p><strong>Won:</strong> {{ won[0].won }} matches.</p>
												</div>
												<div class="col-md-4">
													<p><strong>Lost:</strong> {{ lost[0].lost }} matches.</p>
												</div>
											
										</div> 
										{% set wonPercentage = won[0].won / (won[0].won + lost[0].lost) * 100 %}
										{% set lostPercentage = lost[0].lost / (won[0].won + lost[0].lost) * 100 %}
										<div class="row">
											<div class="col-md-9">
												<div class="progress">											
												  <div class="progress-bar progress-bar-success" style="width: {{ wonPercentage }}%">
												    {{ wonPercentage }}% Matches won.
												  </div>
												  <div class="progress-bar progress-bar-danger" style="width: {{ lostPercentage }}%">
												    {{ lostPercentage }}% Matches lost.
												  </div>
												</div>
											</div>
										</div>  
									  </div>
									</div>
								</div>
								
								<div class="col-sm-12">
									<hr>
									{{ form_start(form) }}
									<div class="form-group">
										{{ form_label(form.date, 'Date:', {'label_attr': {'class': 'col-md-3'}}) }}
										<div class="col-md-7">
										{{ form_widget(form.date) }}
										{{ form_errors(form.date) }}
										</div>
									</div>
									<div class="form-group">
										{{ form_label(form.time, 'Time:', {'label_attr': {'class': 'col-md-3'}}) }}
										<div class="col-md-7">
										{{ form_widget(form.time) }}
										{{ form_errors(form.time) }}
										</div>
									</div>
									<div class="form-group">
										{{ form_label(form.club, 'Club:', {'label_attr': {'class': 'col-md-3'}}) }}
										<div class="col-md-7">
										{{ form_widget(form.club) }}
										{{ form_errors(form.club) }}
										</div>
									</div>
									<div class="form-group">
										{{ form_label(form.message, 'Message:', {'label_attr': {'class': 'col-md-3'}}) }}
										<div class="col-md-7">
										{{ form_widget(form.message) }}
										{{ form_errors(form.message) }}
										</div>
									</div>
									<div class="col-md-offset-3">						
										{{ form_widget(form.challenge, {'attr': {'class': 'btn btn-primary'}}) }}
									</div>
									<input type="hidden" name="player2" value="{{ player.id }}">
									{{ form_end(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}