{% extends 'base.html.twig' %}

{% block title %}Squash Connection - My Challenges{% endblock %}

{% block body_id 'my_challenge_list' %}

{% block header %}
	{% include 'user/_header_user_homepage.html.twig' %}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<u><h1>My Challenges</h1></u>
									{% if challenges is not empty %}
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Player</th>
												<th>Club</th>
												<th>Date</th>
												<th>Time</th>
												<th>Messages</th>
												<th>Answer</th>
											</tr>
										</thead>
									{% for challenge in challenges %}
										<tr>
											<td>{{ challenge.name }} {{ challenge.lastName }}</td>
											<td>{{ challenge.clubName }}</td>
											<td>{{ challenge.date|date('l, jS F Y') }}</td>
											<td>{{ challenge.time|date('H:i') }}</td>
											<td>												
												<a href="{{ path('challenge_message', {'slug': challenge.id}) }}"> 
													Messages
													<span class="badge"></span>
												</a>
											</td>
											<td>
												{% if challenge.status == 'Accepted' %}
													<p class="text-success">{{ challenge.status }}</p>
												{% endif %}
												{% if challenge.status == 'Denied' %}
													<p class="text-danger">{{ challenge.status }}</p>
												{% endif %}
												{% if challenge.status is null %}
													<p class="text-warning">No answer yet</p>
												{% endif %}													
											</td>
										</tr>
									{% endfor %}
									</table>
									{% else %}
										<h6>You haven't challenged someone yet.</h6>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}